# Init file for starting tlsdated on Android.
service tlsdated /system/bin/tlsdated -v -l -s -G dbus -- /system/bin/tlsdate -v -C /system/etc/security/cacerts -l
    class main
    # This daemon needs to start as root and drops privileges early on.
    user root
    group system
    seclabel u:r:brillo:s0
